flows.json
[
    {
        "id": "405213b10fbf850b",
        "type": "tab",
        "label": "HomeInfo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acc66eae0bd38f04",
        "type": "tab",
        "label": "Lights On",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e603cf0185a20e2",
        "type": "tab",
        "label": "Turn On/Off Outside Lights",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "8873bc10d288c2c2",
        "type": "tab",
        "label": "Fans On For 15 mins",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "780d533fd55e876e",
        "type": "chatbot-telegram-node",
        "botname": "RPHomeIntegrationBot",
        "usernames": "",
        "polling": "1000",
        "store": "",
        "log": "",
        "debug": true,
        "skipMediaFiles": false,
        "webHook": "",
        "connectMode": "polling",
        "storeMessages": true,
        "enableMissionControl": false,
        "inspectMessages": true,
        "chatbotId": ""
    },
    {
        "id": "e593dd3.052432",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "2c44caad41f4a7d7",
        "type": "chatbot-telegram-receive",
        "z": "405213b10fbf850b",
        "bot": "780d533fd55e876e",
        "botProduction": "780d533fd55e876e",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "7e2354c2ac921ec0"
            ]
        ]
    },
    {
        "id": "7d1a8d6f1de293bd",
        "type": "chatbot-telegram-send",
        "z": "405213b10fbf850b",
        "bot": "780d533fd55e876e",
        "botProduction": "780d533fd55e876e",
        "track": false,
        "passThrough": true,
        "errorOutput": false,
        "outputs": 1,
        "x": 1450,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "719d8f1eaeb2a189",
        "type": "chatbot-conversation",
        "z": "405213b10fbf850b",
        "name": "",
        "botDevelopment": "780d533fd55e876e",
        "botProduction": "780d533fd55e876e",
        "chatId": "1063333784",
        "userId": "",
        "transport": "telegram",
        "x": 1250,
        "y": 240,
        "wires": [
            [
                "7d1a8d6f1de293bd"
            ]
        ]
    },
    {
        "id": "1331249de4580f82",
        "type": "inject",
        "z": "405213b10fbf850b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "276771a9ee71e330"
            ]
        ]
    },
    {
        "id": "7e2354c2ac921ec0",
        "type": "chatbot-rules",
        "z": "405213b10fbf850b",
        "name": "TelegramMenuRules",
        "rules": [
            {
                "type": "command",
                "command": "/lights"
            },
            {
                "type": "command",
                "command": "/fans"
            },
            {
                "type": "command",
                "command": "/cameras"
            },
            {
                "type": "command",
                "command": "/homeInfo"
            }
        ],
        "outputs": 4,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "377706cdcf2219b5"
            ],
            [
                "920c58555bb27eac"
            ],
            [],
            []
        ]
    },
    {
        "id": "99c5fbcf9d8d2b3f",
        "type": "chatbot-message",
        "z": "405213b10fbf850b",
        "name": "",
        "message": [
            {
                "message": "The following ligths: {{payload}} are on!!"
            }
        ],
        "language": "none",
        "x": 1070,
        "y": 220,
        "wires": [
            [
                "719d8f1eaeb2a189"
            ]
        ]
    },
    {
        "id": "276771a9ee71e330",
        "type": "chatbot-telegram-menu",
        "z": "405213b10fbf850b",
        "bot": "780d533fd55e876e",
        "items": [
            {
                "command": "/lights",
                "description": "Shows lights information"
            },
            {
                "command": "/fans",
                "description": "Shows fans information"
            },
            {
                "command": "/cameras",
                "description": "Shows cameras information"
            },
            {
                "command": "/home",
                "description": "Shows general information about your home"
            }
        ],
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "377706cdcf2219b5",
        "type": "ha-get-entities",
        "z": "405213b10fbf850b",
        "name": "Light Entities",
        "server": "e593dd3.052432",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "includes",
                "value": "light.living_room_switch,light.office_switch,light.maxi_room_switch,light.master_bedroom_switch,switch.main_entrance_light_switch,switch.patio_fan_light,switch.laundry_light,switch.living_room_light,switch.garage_light,switch.dining_room_light_switch,light.main_bathroom_dimmer,light.above_refrigerator_dimmer,light.above_bar_smart_dimmer,switch.porch_lights,switch.outside_lights",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "cb4d433d0815c15f"
            ]
        ]
    },
    {
        "id": "920c58555bb27eac",
        "type": "ha-get-entities",
        "z": "405213b10fbf850b",
        "name": "Fan Entities",
        "server": "e593dd3.052432",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "includes",
                "value": "fan.living_room_switch,fan.office_switch,fan.maxi_room_switch,fan.master_bedroom_switch",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "703f815849d312c3"
            ]
        ]
    },
    {
        "id": "cb4d433d0815c15f",
        "type": "template",
        "z": "405213b10fbf850b",
        "name": "Get Friendly Name",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.attributes.friendly_name}}",
        "output": "str",
        "x": 750,
        "y": 220,
        "wires": [
            [
                "3b9d4b4bc09d08e8"
            ]
        ]
    },
    {
        "id": "f491d6bdeff787b3",
        "type": "chatbot-message",
        "z": "405213b10fbf850b",
        "name": "",
        "message": [
            {
                "message": "The following fans: {{payload}} are on!!"
            }
        ],
        "language": "none",
        "x": 1070,
        "y": 280,
        "wires": [
            [
                "719d8f1eaeb2a189"
            ]
        ]
    },
    {
        "id": "3b9d4b4bc09d08e8",
        "type": "join",
        "z": "405213b10fbf850b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 930,
        "y": 220,
        "wires": [
            [
                "99c5fbcf9d8d2b3f"
            ]
        ]
    },
    {
        "id": "703f815849d312c3",
        "type": "template",
        "z": "405213b10fbf850b",
        "name": "Get Friendly Name",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.attributes.friendly_name}}",
        "output": "str",
        "x": 750,
        "y": 280,
        "wires": [
            [
                "fa395b4a300c3b1a"
            ]
        ]
    },
    {
        "id": "fa395b4a300c3b1a",
        "type": "join",
        "z": "405213b10fbf850b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 930,
        "y": 280,
        "wires": [
            [
                "f491d6bdeff787b3"
            ]
        ]
    },
    {
        "id": "53068e834c06c590",
        "type": "server-state-changed",
        "z": "acc66eae0bd38f04",
        "name": "Office Fan On",
        "server": "e593dd3.052432",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": [
            "fan.living_room_switch",
            "fan.master_bedroom_switch",
            "fan.office_switch",
            "fan.maxi_room_switch"
        ],
        "entityidfiltertype": "list",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "5",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "x": 110,
        "y": 100,
        "wires": [
            [
                "20ef09168211f89b"
            ],
            []
        ]
    },
    {
        "id": "20ef09168211f89b",
        "type": "template",
        "z": "acc66eae0bd38f04",
        "name": "Get Friendly Name",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The {{payload.new_state.attributes.friendly_name}} has been ON for more than 5 minutes!!!",
        "output": "str",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "7dea291ec83ed2db"
            ]
        ]
    },
    {
        "id": "7dea291ec83ed2db",
        "type": "api-call-service",
        "z": "acc66eae0bd38f04",
        "name": "Notification",
        "server": "e593dd3.052432",
        "version": 5,
        "debugenabled": true,
        "domain": "notify",
        "service": "mobile_app_reyniers_iphone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\":\"Device is ON\",\"message\":\"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 530,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b74ada49.d7e408",
        "type": "server-state-changed",
        "z": "1e603cf0185a20e2",
        "name": "Sunrise - Sunset",
        "server": "e593dd3.052432",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sun.sun",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "above_horizon",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 120,
        "wires": [
            [
                "1f467cbb.0c3983",
                "2aa91b760919d932"
            ],
            [
                "da5ff3e0.cbb2a",
                "48fb1c8d8309b57e"
            ]
        ]
    },
    {
        "id": "1f467cbb.0c3983",
        "type": "api-call-service",
        "z": "1e603cf0185a20e2",
        "name": "Turn Off Outside Lights",
        "server": "e593dd3.052432",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "output_location": "",
        "output_location_type": "none",
        "x": 390,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "da5ff3e0.cbb2a",
        "type": "api-call-service",
        "z": "1e603cf0185a20e2",
        "name": "Turn On Outside Lights",
        "server": "e593dd3.052432",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "output_location": "",
        "output_location_type": "none",
        "x": 390,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2aa91b760919d932",
        "type": "debug",
        "z": "1e603cf0185a20e2",
        "name": "Above Horizon",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "48fb1c8d8309b57e",
        "type": "debug",
        "z": "1e603cf0185a20e2",
        "name": "Below Horizon",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "d7260ff2dfa1d86b",
        "type": "time-range-switch",
        "z": "8873bc10d288c2c2",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "20:00",
        "endTime": "08:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "f782e0735f1c5db0"
            ],
            []
        ]
    },
    {
        "id": "2cebf4f65297a6b3",
        "type": "trigger",
        "z": "8873bc10d288c2c2",
        "name": "on for 20 minutes",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "off",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "d7260ff2dfa1d86b"
            ]
        ]
    },
    {
        "id": "f782e0735f1c5db0",
        "type": "debug",
        "z": "8873bc10d288c2c2",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "b57cb8d660db34a9",
        "type": "server-state-changed",
        "z": "8873bc10d288c2c2",
        "name": "Fan On",
        "server": "e593dd3.052432",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": [
            "fan.living_room_switch",
            "fan.master_bedroom_switch",
            "fan.office_switch",
            "fan.maxi_room_switch"
        ],
        "entityidfiltertype": "list",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "true",
        "halt_if_type": "bool",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 220,
        "wires": [
            [
                "2cebf4f65297a6b3",
                "b4d658ae65913d48"
            ],
            []
        ]
    },
    {
        "id": "b4d658ae65913d48",
        "type": "debug",
        "z": "8873bc10d288c2c2",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 260,
        "wires": []
    }
]