flows.json
[
    {
        "id": "ae1c08dc88e7af9b",
        "type": "tab",
        "label": "DevicesInfo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e603cf0185a20e2",
        "type": "tab",
        "label": "Turn On/Off Outside Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "405213b10fbf850b",
        "type": "tab",
        "label": "HomeInfo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0501619cb62dee42",
        "type": "tab",
        "label": "Fans.ON",
        "disabled": true,
        "info": "Fans has been ON for more than 5 min!!!",
        "env": []
    },
    {
        "id": "780d533fd55e876e",
        "type": "chatbot-telegram-node",
        "botname": "RPHomeIntegrationBot",
        "usernames": "",
        "polling": "1000",
        "store": "",
        "log": "",
        "debug": true,
        "skipMediaFiles": false,
        "webHook": "",
        "connectMode": "polling",
        "storeMessages": true,
        "enableMissionControl": false,
        "inspectMessages": true,
        "chatbotId": ""
    },
    {
        "id": "e593dd3.052432",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "0ef8f25b6263420b",
        "type": "ha-get-entities",
        "z": "ae1c08dc88e7af9b",
        "name": "Find powered ON devices",
        "server": "e593dd3.052432",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "includes",
                "value": "light.bathroom_dimmer_hs220,switch.bathroom_light_switch_hs200,light.master_bedroom_switch,light.kitchen_first_dimmer_hs220,light.kitchen_second_dimmer_hs220,switch.kitchen_light_hs210,light.living_room_switch,light.maxi_room_switch,light.office_switch,switch.dining_room_light_switch_hs200,switch.garage_motion_switch_ks200m,switch.laundry_motion_switch_ks200m,switch.patio_fan_light_switch_hs200,switch.main_ent_light_switch_hs200,switch.outside_lights_hs200,switch.porch_lights_hs200,fan.living_room_switch,fan.master_bedroom_switch,fan.maxi_room_switch,fan.office_switch,light.office_light",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 590,
        "y": 200,
        "wires": [
            [
                "ecc73c6ddaac9714"
            ]
        ]
    },
    {
        "id": "78542b775cc578e1",
        "type": "api-call-service",
        "z": "ae1c08dc88e7af9b",
        "name": "Send a notification",
        "server": "e593dd3.052432",
        "version": 5,
        "debugenabled": true,
        "domain": "notify",
        "service": "mobile_app_reyniers_iphone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\":\"Device is ON\",\"message\":\"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1090,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ecc73c6ddaac9714",
        "type": "template",
        "z": "ae1c08dc88e7af9b",
        "name": "Get Friendly Name",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The {{payload.attributes.friendly_name}} has been ON for more than 15 minutes!!!",
        "output": "str",
        "x": 850,
        "y": 200,
        "wires": [
            [
                "78542b775cc578e1"
            ]
        ]
    },
    {
        "id": "f4ed182b68c6681c",
        "type": "time-range-switch",
        "z": "ae1c08dc88e7af9b",
        "name": "Pause Notifications",
        "lat": "28.496890",
        "lon": "-82.553900",
        "startTime": "08:00",
        "endTime": "22:30",
        "startOffset": 0,
        "endOffset": 0,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "0ef8f25b6263420b"
            ],
            []
        ]
    },
    {
        "id": "4ab27a7282aab7b3",
        "type": "inject",
        "z": "ae1c08dc88e7af9b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "f4ed182b68c6681c"
            ]
        ]
    },
    {
        "id": "b74ada49.d7e408",
        "type": "server-state-changed",
        "z": "1e603cf0185a20e2",
        "name": "Sunrise - Sunset",
        "server": "e593dd3.052432",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sun.sun",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "above_horizon",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 140,
        "wires": [
            [
                "1f467cbb.0c3983"
            ],
            [
                "da5ff3e0.cbb2a"
            ]
        ]
    },
    {
        "id": "1f467cbb.0c3983",
        "type": "api-call-service",
        "z": "1e603cf0185a20e2",
        "name": "Turn Off Outside Lights",
        "server": "e593dd3.052432",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [
            "5aad71b6197b0a07a7d5a4bb4c16d8ed"
        ],
        "entityId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "output_location": "",
        "output_location_type": "none",
        "x": 390,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "da5ff3e0.cbb2a",
        "type": "api-call-service",
        "z": "1e603cf0185a20e2",
        "name": "Turn On Outside Lights",
        "server": "e593dd3.052432",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [
            "5aad71b6197b0a07a7d5a4bb4c16d8ed"
        ],
        "entityId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "output_location": "",
        "output_location_type": "none",
        "x": 390,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2c44caad41f4a7d7",
        "type": "chatbot-telegram-receive",
        "z": "405213b10fbf850b",
        "bot": "780d533fd55e876e",
        "botProduction": "780d533fd55e876e",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "7e2354c2ac921ec0"
            ]
        ]
    },
    {
        "id": "7d1a8d6f1de293bd",
        "type": "chatbot-telegram-send",
        "z": "405213b10fbf850b",
        "bot": "780d533fd55e876e",
        "botProduction": "780d533fd55e876e",
        "track": false,
        "passThrough": true,
        "errorOutput": false,
        "outputs": 1,
        "x": 1450,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "719d8f1eaeb2a189",
        "type": "chatbot-conversation",
        "z": "405213b10fbf850b",
        "name": "",
        "botDevelopment": "780d533fd55e876e",
        "botProduction": "780d533fd55e876e",
        "chatId": "1063333784",
        "userId": "",
        "transport": "telegram",
        "x": 1250,
        "y": 240,
        "wires": [
            [
                "7d1a8d6f1de293bd"
            ]
        ]
    },
    {
        "id": "1331249de4580f82",
        "type": "inject",
        "z": "405213b10fbf850b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "276771a9ee71e330"
            ]
        ]
    },
    {
        "id": "7e2354c2ac921ec0",
        "type": "chatbot-rules",
        "z": "405213b10fbf850b",
        "name": "TelegramMenuRules",
        "rules": [
            {
                "type": "command",
                "command": "/lights"
            },
            {
                "type": "command",
                "command": "/fans"
            },
            {
                "type": "command",
                "command": "/cameras"
            },
            {
                "type": "command",
                "command": "/homeInfo"
            }
        ],
        "outputs": 4,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "377706cdcf2219b5"
            ],
            [
                "920c58555bb27eac"
            ],
            [],
            []
        ]
    },
    {
        "id": "99c5fbcf9d8d2b3f",
        "type": "chatbot-message",
        "z": "405213b10fbf850b",
        "name": "",
        "message": [
            {
                "message": "The following ligths: {{payload}} are on!!"
            }
        ],
        "language": "none",
        "x": 1070,
        "y": 220,
        "wires": [
            [
                "719d8f1eaeb2a189"
            ]
        ]
    },
    {
        "id": "276771a9ee71e330",
        "type": "chatbot-telegram-menu",
        "z": "405213b10fbf850b",
        "bot": "780d533fd55e876e",
        "items": [
            {
                "command": "/lights",
                "description": "Shows lights information"
            },
            {
                "command": "/fans",
                "description": "Shows fans information"
            },
            {
                "command": "/cameras",
                "description": "Shows cameras information"
            },
            {
                "command": "/home",
                "description": "Shows general information about your home"
            }
        ],
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "377706cdcf2219b5",
        "type": "ha-get-entities",
        "z": "405213b10fbf850b",
        "name": "Light Entities",
        "server": "e593dd3.052432",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "includes",
                "value": "light.living_room_switch,light.office_switch,light.maxi_room_switch,light.master_bedroom_switch,switch.main_entrance_light_switch,switch.patio_fan_light,switch.laundry_light,switch.living_room_light,switch.garage_light,switch.dining_room_light_switch,light.main_bathroom_dimmer,light.above_refrigerator_dimmer,light.above_bar_smart_dimmer,switch.porch_lights,switch.outside_lights",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "cb4d433d0815c15f"
            ]
        ]
    },
    {
        "id": "920c58555bb27eac",
        "type": "ha-get-entities",
        "z": "405213b10fbf850b",
        "name": "Fan Entities",
        "server": "e593dd3.052432",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "includes",
                "value": "fan.living_room_switch,fan.office_switch,fan.maxi_room_switch,fan.master_bedroom_switch",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "703f815849d312c3"
            ]
        ]
    },
    {
        "id": "cb4d433d0815c15f",
        "type": "template",
        "z": "405213b10fbf850b",
        "name": "Get Friendly Name",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.attributes.friendly_name}}",
        "output": "str",
        "x": 750,
        "y": 220,
        "wires": [
            [
                "3b9d4b4bc09d08e8"
            ]
        ]
    },
    {
        "id": "f491d6bdeff787b3",
        "type": "chatbot-message",
        "z": "405213b10fbf850b",
        "name": "",
        "message": [
            {
                "message": "The following fans: {{payload}} are on!!"
            }
        ],
        "language": "none",
        "x": 1070,
        "y": 280,
        "wires": [
            [
                "719d8f1eaeb2a189"
            ]
        ]
    },
    {
        "id": "3b9d4b4bc09d08e8",
        "type": "join",
        "z": "405213b10fbf850b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 930,
        "y": 220,
        "wires": [
            [
                "99c5fbcf9d8d2b3f"
            ]
        ]
    },
    {
        "id": "703f815849d312c3",
        "type": "template",
        "z": "405213b10fbf850b",
        "name": "Get Friendly Name",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.attributes.friendly_name}}",
        "output": "str",
        "x": 750,
        "y": 280,
        "wires": [
            [
                "fa395b4a300c3b1a"
            ]
        ]
    },
    {
        "id": "fa395b4a300c3b1a",
        "type": "join",
        "z": "405213b10fbf850b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 930,
        "y": 280,
        "wires": [
            [
                "f491d6bdeff787b3"
            ]
        ]
    },
    {
        "id": "e0eefd25af91d7d5",
        "type": "poll-state",
        "z": "0501619cb62dee42",
        "name": "Fan Office",
        "server": "e593dd3.052432",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "15",
        "updateIntervalType": "num",
        "updateIntervalUnits": "minutes",
        "outputinitially": true,
        "outputonchanged": true,
        "entity_id": "fan.office_switch",
        "state_type": "str",
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "x": 220,
        "y": 140,
        "wires": [
            [
                "a558f7b44731996e"
            ],
            []
        ]
    },
    {
        "id": "06488158edcc430f",
        "type": "poll-state",
        "z": "0501619cb62dee42",
        "name": "Fan Living Room",
        "server": "e593dd3.052432",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "15",
        "updateIntervalType": "num",
        "updateIntervalUnits": "minutes",
        "outputinitially": true,
        "outputonchanged": true,
        "entity_id": "fan.living_room_switch",
        "state_type": "str",
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "a558f7b44731996e"
            ],
            []
        ]
    },
    {
        "id": "7b0787efae70bec5",
        "type": "poll-state",
        "z": "0501619cb62dee42",
        "name": "Fan Master Bedroom",
        "server": "e593dd3.052432",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "15",
        "updateIntervalType": "num",
        "updateIntervalUnits": "minutes",
        "outputinitially": true,
        "outputonchanged": true,
        "entity_id": "fan.master_bedroom_switch",
        "state_type": "str",
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "a558f7b44731996e"
            ],
            []
        ]
    },
    {
        "id": "16801dba8a318750",
        "type": "poll-state",
        "z": "0501619cb62dee42",
        "name": "Fan Kid Bedroom",
        "server": "e593dd3.052432",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "15",
        "updateIntervalType": "num",
        "updateIntervalUnits": "minutes",
        "outputinitially": true,
        "outputonchanged": true,
        "entity_id": "fan.maxi_room_switch",
        "state_type": "str",
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "a558f7b44731996e"
            ],
            []
        ]
    },
    {
        "id": "a558f7b44731996e",
        "type": "template",
        "z": "0501619cb62dee42",
        "name": "Get Friendly Name",
        "field": "data",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The {{data.attributes.friendly_name}} has been ON for more than 5 minutes!!!",
        "output": "str",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "075a12b697542801"
            ]
        ]
    },
    {
        "id": "075a12b697542801",
        "type": "api-call-service",
        "z": "0501619cb62dee42",
        "name": "Send a notification",
        "server": "e593dd3.052432",
        "version": 5,
        "debugenabled": true,
        "domain": "notify",
        "service": "mobile_app_reyniers_iphone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\":\"Device is ON\",\"message\":\"{{data}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 690,
        "y": 220,
        "wires": [
            []
        ]
    }
]